<div class="user_show_page">
  <div class="all_user_info">
<div id="merchant_<%= @merchant.id %>" class="merchant">
  <img src="<%=@merchant.user_img_url%>" class="user_img">
  <div class="merchant_info">
  <h1><%=@merchant.name%></h1>
  <% if current_admin? %>
    <h3>Status:
      <%if @merchant.active?%>
      Active
      <%else%>
      Inactive
      <%end%></h3>
    <%=link_to 'Edit Profile Information',
                              { controller: 'admin/merchants',
                                action: 'edit',
                                id: @merchant.id },
                                method: :get %>
    <%=button_to 'Downgrade to Customer Only Account',
                              { controller: 'admin/merchants',
                                action: 'update',
                                attribute: 'role',
                                id: @merchant.id },
                                method: :patch,
                                data: { confirm: 'Are you sure?' } %>

  <% end %>
</div>
</div>
</div>
