<div class="all_card_container">
<div class="all_stuff">
  <% @card_data.each do |card| %>
    <div id="card<%= card.id %>" class="card">

      <% if card.class == Item %>
        <div class="img_url">
          <%=image_tag(card.img_url) %>
        </div>
        <div class="card_info">
          <%= link_to "#{card.name}", item_path(card) %>
          <%= link_to "#{card.img_url}", item_path(card) %>
          <%= card.merchant.name %>
          <%= card.inventory_count %>
          <%= card.price %>

          <% if current_admin? %>
            <%=link_to card.name, admin_merchant_path(card)%>
            <% if card.active? %>
              <%=button_to 'Disable', { controller: 'admin/merchants',
                                        action: 'update',
                                        attribute: 'active',
                                        id: card.id },
                                        method: :patch,
                                        data: { confirm: 'Are you sure?' } %>
            <% else %>
              <%= button_to 'Enable', { controller: 'admin/merchants',
                                        action: 'update',
                                        attribute: 'active',
                                        id: card.id },
                                        method: :patch,
                                        data: { confirm: 'Are you sure?' } %>
            <% end %>
          <% else %>
            <%= card.name%>
          <% end %>
        </div>

      <% elsif card.class == User %>
        <div class="img_url">
          <%=image_tag(card.img_url) %>
        </div>
        <div class="card_info">
          <% if current_admin? %>
            <%=link_to card.name, admin_merchant_path(card)%>
            <% if card.active? %>
              <%=button_to 'Disable', { controller: 'admin/merchants',
                                        action: 'update',
                                        attribute: 'active',
                                        id: card.id },
                                        method: :patch,
                                        data: { confirm: 'Are you sure?' } %>
            <% else %>
              <%= button_to 'Enable', { controller: 'admin/merchants',
                                        action: 'update',
                                        attribute: 'active',
                                        id: card.id },
                                        method: :patch,
                                        data: { confirm: 'Are you sure?' } %>
            <% end %>
          <% else %>
            <%= card.name%>
          <% end %>
        </div>
    <% end %>
    </div>
  <%end%>
</div>
</div>
