  <div class="all_stuff">
  <% card_data.each do |card| %>
    <div id="card<%= card.id %>" class="card">
      <div class ="card_container">
        <div class="card_img">
          <% if current_admin? %>
            <div class="img_box">
            <%=link_to item_path(card) do %>
              <img src="<%= card.img_url %>" alt="item_img">
            <%end%>
          </div>
          <%else%>
            <%= link_to item_path(card) do %>
              <img src="<%= card.img_url %>" alt="item_img">
            <%end%>
          <%end%>
        </div>
        <div class="card_info">
          <% if current_admin? %>
            <p>Item: <%= link_to "#{card.name}", item_path(card) %></p>
          <%else%>
            <p>Item: <%= link_to "#{card.name}", item_path(card) %></p>
          <%end%>
          <p>Merchant: <%= card.merchant.name %></p>
          <p>Inventory Count: <%= card.inventory_count %></p>
          <p>Price: <%= card.price %></p>
          <% if current_admin? %>
            <% if card.active? %>
              <%=button_to 'Disable', { controller: 'admin/merchants',
                                        action: 'update',
                                        attribute: 'active',
                                        id: card.id },
                                        method: :patch,
                                        data: { confirm: 'Are you sure?' } %>
            <% else %>
              <%= button_to 'Enable', { controller: 'admin/merchants',
                                        action: 'update',
                                        attribute: 'active',
                                        id: card.id },
                                        method: :patch,
                                        data: { confirm: 'Are you sure?' } %>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  <%end%>
  </div>
