<%= content_tag :div, id: "order-#{order.id}-info" do %>
<table>
  
</table>
  <%= link_to "Order ##{order.id}", profile_order_path(order) %>
  <%= "Date ordered: #{order.created_at}" %>
  <%= "Last updated: #{order.updated_at}" %>
  <%= "Order Size: #{order.unit_quantity} units" %>
  <%= "Total: $#{order.grand_total}" %>
  <%= "Order status: #{order.status}" %>
  <%= render "/partial/cancel_buttom", order: order %>
<% end %>
