<%= render partial: 'partial/order_info', order: @order %>

<div class="items_info">
  <% @items.each do |item| %>
    <ul>
      <%= link_to "#{item.name}", item_path(item)  %>
      <div class="img_box">
        <%= link_to item_path(item) %>
        <img src="<%= item.img_url%>" alt="Item_image">
      </div>
      <%=  %>
    </ul>
  <% end  %>

</div>
