<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header class="header">
    <nav>
      <h1 class="logo">
        <%= link_to "LittleShop", root_path %>
      </h1>
      <ul class="main-nav">
        <a><%= link_to "Items", items_path %></a>
        <a><%= link_to "Merchants", merchants_path %></a>
        <a><%= link_to "Cart", cart_path %></a>
      </ul>
    </nav>
  </header>


  <body>
    <%= yield %>
  </body>
</html>
