<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <nav>
    <%= link_to "LittleShop", root_path %>
    <%= link_to "Items", items_path %>
    <%= link_to "Merchants", merchants_path %>
    <%= link_to "Cart", cart_path %>

  </nav>


  <body>
    <%= yield %>
  </body>
</html>
