<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header class="header">
    <nav>
      <h1 class="logo">
        <%= link_to "LittleShop", root_path %>
      </h1>
      <%=render partial: 'layouts/nav', user: @user %>
    </nav>
  </header>

  <body>

    <% flash.each do |type, message| %>
      <%= content_tag :div, message, class: type %>
    <% end %>

   <div id="main_container">
     <%= yield %>
    </div>
  </body>
</html>
